body {
  background-color: #ddd;
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
}

nav {
	border-bottom: 2px solid orange;
}

ol {
	padding-left: 0;
}

.crumb {
	margin-right: 2em;
	display: inline;
}

a {
	color: orange;
}

a:visited {
	color: crimson;
}

input {
	display: block;
	margin: 10px;
}

label {
	display: inline;
	width: 200px;
	font-family:Arial, Helvetica, sans-serif;
}

label input {
	float:left;
}

label span {
	display: block;
	overflow: auto; 
	margin: 30px;
}

.home-h3{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: 100;
}


img {
	width: 100px;
	height: 100px;
}

#sumbit-button {
	height: 30px;
	width: 80px;
	font-size: 15px;
	margin-top: 20px;
}


#prof-header{
	color:bisque;
	font-family:'Times New Roman', Times, serif;
	font-size: 40px;
	border-bottom:7px dotted bisque;
	margin-bottom: 20px;
}

h2 {

	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 20px;
	color:black;
	margin-top: 15px;
}

ul {
	display: block;
	font-family:Arial, Helvetica, sans-serif;
	margin-top: 30px;
	font-size: 17px;
}

p {
	font-size: 17px;
}

#prof-body {
	background: url('./IMG_3498.jpg') no-repeat center fixed;     
    background-size:auto;
	background-position: center;
}

#nav-button {
	color: bisque;
}

#prof-back {
	color: orange;
	display: flex;
	position: absolute;
}

.tags {
	color: bisque;
	font-size: 20px;
	margin: 3%;
}

.headers {
	font-size: 25px;
	color: rgb(255, 212, 133);
	font-family: 'Times New Roman', Times, serif;
	margin-top: 13%;
}

.profileButtons {
	background-color: transparent;
	border: 2px solid black;
	color: rgb(255, 212, 133);
	height: 25px;
	font-size: 15x;
	font-family: monospace;
	display: inline;
}

.alpine-pic {
	height: 35vh;
	width: 100vw;
	display: flex;
	position: absolute;
	top: px;
	left: 0;
}

.alpine{
	text-align: center;
	font-family: 'Times New Roman', Times, serif;
	font-size: 30px;
	margin: 1%;
}

.neighborhood {
	background-color: rgb(255, 247, 236);
}

.leftHeader {
	height: 100px;
	width: 400px;
	display: flex;
	position: absolute;
	left: 40px;
	top: 400px;
	border: 2px solid black;
	text-align: center;
	font-size: 20px;
	padding: 20px;
	font-family: 'Times New Roman', Times, serif;
}

.rightHeader {
	height: 200px;
	width: 300px;
	display: flex;
	position: absolute;
	right: 100px;
	top: 400px;
	border: 2px solid black;
	padding: 10px;
	font-family: 'Times New Roman', Times, serif;
}

.alpinePlaces {
	font-size: 17px;
	color: black;
}

.alpineButton {
	display: flex;
	position:absolute;
	bottom: 100px;
	left: 150px;
	height: 30px;
	font-size: 17px;
	font-family:'Times New Roman', Times, serif;
	color: rgb(255, 0, 0);
	background-color:transparent;
}
